
main {
  margin: 8rem 2rem 2rem 6rem;
}

div.home-link {
  margin-bottom: 2rem;
}

div.home-link a {
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

div.content {
  clear: both;
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
