<main>
  <app-title></app-title>
  <div class="content">
    <app-grammar-block
      [title]="'La construction de phrases'"
      [url]="'/grammar/sentences'"
    ></app-grammar-block>
    <app-grammar-block
      [title]="'Les particules'"
      [url]="'/grammar/particles'"
    ></app-grammar-block>
    <app-grammar-block
      [title]="'Les pronoms démonstratifs'"
      [url]="'/grammar/pronouns'"
    ></app-grammar-block>
    <app-grammar-block
      [title]="'Les nombres'"
      [logo]="'/img/numbers.jpg'"
      [url]="'/grammar/numbers'"
    ></app-grammar-block>
    <app-grammar-block
      [title]="'Les honorifiques'"
      [logo]="'/img/honorific.png'"
      [url]="'/grammar/honorifics'"
    ></app-grammar-block>
  </div>
</main>
