
main {
  margin: 8rem 2rem 2rem 6rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  clear: both;
  gap: 4rem;
}

div.home-link {
  margin-bottom: 2rem;
}

div.home-link a {
  font-size: 1.5rem;
  margin-bottom: 5rem;
}

h2.test {
  background-color: transparent;
}
