ul.voc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

ul.voc li {
  list-style-type: none;
}

.translations {
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}
