<div class="content">
  <div class="aside">
    <h2>Sommaire</h2>
    <hr>
    <ul class="sumary">
      <li><a href="#human_beings">Être humain</a></li>
      <li><button>Vie quotidienne</button></li>
      <li><button>Jours, mois, années</button></li>
      <li><button>Météo</button></li>
      <li><a href="#school">Ecole</a></li>
      <li><button>Maison</button></li>
      <li><button>Famille/Amis</button></li>
      <li><button>Titres honorifiques</button></li>
      <li><button>Travail</button></li>
      <li><button>Animaux</button></li>
      <li><button>Nature</button></li>
    </ul>
  </div>
  <hr class="vertical-separator">
</div>

