.letter-block {
  display: flex;
  flex-direction: column;
}

.letter-block h2,
.lesson h2 {
  font-weight: 300;
  font-size: 2rem;
}

.letter-block hr {
  width: 11rem;
}

td {
  padding: 1rem 1rem 1rem 0rem;
  text-align: center;
}

.group-table {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
}

table tr td p:nth-child(1){
  font-weight: 700;
  font-size: 2rem;
}

div.legend {
  text-align: left;
}

.legend ul {
  list-style-type: none;
  padding: 0;
}
